<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shfweb.mapper.HseHouseMapper">

    <resultMap id="BaseResultMap" type="model.HseHouse">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="communityId" column="community_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="unitPrice" column="unit_price" jdbcType="DECIMAL"/>
            <result property="buildArea" column="build_area" jdbcType="DECIMAL"/>
            <result property="insideArea" column="inside_area" jdbcType="DECIMAL"/>
            <result property="houseTypeId" column="house_type_id" jdbcType="VARCHAR"/>
            <result property="floorId" column="floor_id" jdbcType="BIGINT"/>
            <result property="buildStructureId" column="build_structure_id" jdbcType="BIGINT"/>
            <result property="directionId" column="direction_id" jdbcType="BIGINT"/>
            <result property="decorationId" column="decoration_id" jdbcType="BIGINT"/>
            <result property="houseUseId" column="house_use_id" jdbcType="BIGINT"/>
            <result property="elevatorRatio" column="elevator_ratio" jdbcType="VARCHAR"/>
            <result property="listingDate" column="listing_date" jdbcType="DATE"/>
            <result property="lastTradeDate" column="last_trade_date" jdbcType="DATE"/>
            <result property="defaultImageUrl" column="default_image_url" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,community_id,name,
        description,total_price,unit_price,
        build_area,inside_area,house_type_id,
        floor_id,build_structure_id,direction_id,
        decoration_id,house_use_id,elevator_ratio,
        listing_date,last_trade_date,default_image_url,
        status,create_time,update_time,
        is_deleted
    </sql>
</mapper>
